<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Consultar Marcas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-fab bottom right margin-right margin-bottom>
    <button (click)="insertMarca()" ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-list *ngFor="let marca of marcas">
    <ion-item-sliding>
      <ion-item (click)="selectMarca(marca)">
        <h2>{{marca.nome}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button (click)="removeMarca(marca)" ion-button color="secondary">
          Excluir
        </button>
        <button (click)="editMarca(marca)" ion-button color="primary">
          Editar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" *ngIf="size <= marcas.length">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>